.float-icon {
    position: absolute;
    z-index: 100;
    zoom: 0.4;
}

.fi-1 {
    left: 470px;
    top: 340px;
    transform: rotate(175deg);
}

.fi-2 {
    left: 550px;
    top: 670px;
    transform: rotate(195deg);
}

.fi-3 {
    left: 610px;
    top: 980px;
    transform: rotate(225deg);
}

.fi-4 {
    left: 550px;
    top: 1280px;
    transform: rotate(256deg);
}
