@charset "utf-8";

/* Display Twitter handle on each slides (without first) */

.slide:nth-of-type(n + 2).active:before {
    content: '#warsawjs';
    position: absolute;
    left: 20px;
    bottom: 12px;
    color: #2380e6;
    font-weight: 300;
}
