.icon {
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
}

.icon-twitter{
    background-image: url('../images/icons/social/twitter.png');
    background-size: contain;
}
